.underline a {
    text-decoration: none;
    color: #666;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.hidden-backgroud {
    background-color: #EEEEEE;
}

.center-vertical {
    height: 400px;
    line-height: 400px;
}

input, button, select, textarea {
    outline: none
}

.search-document input[type="submit"] {
    background: url("../images/img-sprite.png") no-repeat -2px -4px;
    border: none;
    height: 20px;
    width: 20px;
    position: absolute;
    outline: none;
    top: 6px;
    right: 20px;
}

#chatRoom p {
    margin: 0;
    line-height: 1.4;
    font-size: 12px;
}

.p_active {
    color: #008040;
}

.p_noactive {
    color: blue;
}

.chatContent:hover {
    background-color: #F6F6F6;
}

.chatContent {
    text-indent: 1em;
}

