<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eghm.websocket.mapper.PageMapper">
  <resultMap id="BaseResultMap" type="com.eghm.websocket.model.Page">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="document_id" jdbcType="INTEGER" property="documentId" />
    <result column="workspace_id" jdbcType="INTEGER" property="workspaceId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.eghm.websocket.model.Page">
    <!--
      @create by mybatis
    -->
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, document_id, workspace_id, add_time, update_time
  </sql>
  <sql id="BlobColumnList">
    <!--
      @create by mybatis
    -->
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    ,
    <include refid="BlobColumnList" />
    from page
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.eghm.websocket.model.Page">
    <!--
      @create by mybatis
    -->
    insert into page (id, document_id, workspace_id, 
      add_time, update_time, content
      )
    values (#{id,jdbcType=INTEGER}, #{documentId,jdbcType=INTEGER}, #{workspaceId,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eghm.websocket.model.Page">
    <!--
      @create by mybatis
    -->
    insert into page
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="documentId != null">
        document_id,
      </if>
      <if test="workspaceId != null">
        workspace_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="documentId != null">
        #{documentId,jdbcType=INTEGER},
      </if>
      <if test="workspaceId != null">
        #{workspaceId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eghm.websocket.model.Page">
    <!--
      @create by mybatis
    -->
    update page
    <set>
      <if test="documentId != null">
        document_id = #{documentId,jdbcType=INTEGER},
      </if>
      <if test="workspaceId != null">
        workspace_id = #{workspaceId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.eghm.websocket.model.Page">
    <!--
      @create by mybatis
    -->
    update page
    set document_id = #{documentId,jdbcType=INTEGER},
      workspace_id = #{workspaceId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eghm.websocket.model.Page">
    <!--
      @create by mybatis
    -->
    update page
    set document_id = #{documentId,jdbcType=INTEGER},
      workspace_id = #{workspaceId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>